@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.row{
    border-bottom: solid;
}

.col-4{
    border-right: solid;
}

#foto_perfil{
    align-self: center;
    border-radius: 50%;
    background-image: url("/WWW/images/perfil.JPG");
    background-size: cover;
    height: 150%;
    width: 70%;
    vertical-align: middle;
    margin: 7% 5% 7% 13%;
}

.profesionNombre{
    margin: auto;
}

#nombre{
    text-align: center;
    color: black;
    font-size: 300%;
    font-family: 'Roboto Condensed', sans-serif;    
}

#profesion{
    text-align: center;
    color: black;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;    
}

.items a{
    position: relative;
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 15px;
}

.texto{
    text-align:center;
    color:black;
    font-size: 200%;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
}